{% extends "base.html" %}

{% block content %}
<div class="splash">
    <div class="pure-g-r">
        <div class="pure-u-1">
            <div class="l-box splash-text">
                <h1 class="splash-head">
                    Uma plataforma de Adoção Online
                </h1>
                <h2 class="splash-subhead">
                    O Adota Web - visa simplificar o adoção online e aproximar aqueles que necessitam.
                </h2>

            </div>
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Parcerias com ONG's e Campanhas sociais</h4>
            <h3>Publique suas adoções</h3>
            <p>
                O Adota Web tem um sistema simples e prático para que o seu bixinho seja visto não só no Brasil mas no mundo inteiro!
            </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Animais para adoção e muito mais">
        </div>
    </div>
</div>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <img src="http://placehold.it/400x250"
                 alt="Fórum de Encontro debate e discussão">
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead">Fórum de Encontro debate e discussão</h4>
            <h3>Interaja com os usuários</h3>
            <p>
                No Adota Web você pode ter seu próprio perfil, mantendo seus dados e de seus animais para adoção
            </p>
        </div>
    </div>
</div>
{% endblock %}