.pure-u-1 {
    display: table-cell;
    vertical-align: middle;
    float:left;
    top:0;
    left: 0;
    bottom: 0;
}

.pure-u-1-4{
    display: table-cell;
    vertical-align: middle;
    float:left;
       width: 300px;
    top:0;
    left: 0;
    bottom: 0;
    clear:both;


}
.image, span {
    display: table-cell;
    vertical-align: left-side;
    float:left;
}
.image {
   width: 200px;
   height: 200px;
   float: left;
   margin:0 0 10px 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

/* content */
.row div {
  padding: 2%;
  border: 1px solid white;
  text-align: left;

}



/* 1/12 */
.col-1 {
  width: 14.33%;
}

/* 2/12 */
.col-2 {
  width: 10.66%;
}

/* 3/12 */
.col-3 {
  width: 10%;
    float:left;
    top:0;
    left: 10px;
    bottom: 0;
}

/* 4/12 */
.col-4 {
  width: 33.33%
    float:left;
    top:0;
    left: 10px;
    bottom: 0;
}

/* 5/12 */
.col-5 {
  width: 41.66%;
  white-space: nowrap
}

/* 6/12 */
.col-6 {
  width: 50%;
}

/* 7/12 */
.col-7 {
  width: 58.33%;
}

/* 8/12 */
.col-8 {
  width: 66.66%;
}

/* 9/12 */
.col-9 {
  width: 75%;
}

/* 10/12 */
.col-10 {
  width: 83.33%;
  float:left;
}

/* 11/12 */
.col-11 {
  width: 91.66%;
}

/* 12/12 */
.col-12 {
  width: 100%;
}

/* viewport <= 1000px */
@media screen and (max-width: 1000px) {
  * {
    font-size: 1em;
  }
}

/* viewport <= 630px */
@media screen and (max-width: 630px) {
  .row div {
    padding: 1.5%;
  }
}

/* viewport <= 500px */
@media screen and (max-width: 500px) {
  * {
    font-size: 0.9em;
  }
}