{% extends "base.html" %}

{% load static %}

{% block content %}

<div id="main">
<div class="pure-g-r">
    <div class="pure-u-1">
        <div class="l-box">
            <h4 class="content-subhead">Listagem de Animais no Adota Web</h4>
            <p>Abaixo a lista de animais disponíveis na plataforma</p>
        </div>
    </div>
</div>



    {% for gato in gato %}
{% if gato.tipo == 2%}

 <div class="pure-u-r">
    <div class="pure-g-r">
        <div class="pure-u">
            <div class="l-box">
                   <a href="{{ gato.get_absolute_url }}">
                   </a>
             <div class="pure-u-7-8">
                <a href="{{ gato.get_absolute_url }}" title="">{{ gato.name }}
                </a>
               {{ gato.description|linebreaks }}
               <h2>
                   {% if gato.image %}
                <img width="400px" height="250px" src="{{ gato.image.url }}" alt="{{ gato.name }}" />
                {% else %}
                  <img width="400px" height="250px" src="{% static 'img/animal-image.jpeg' %}" alt="{{ gato.name }}" />
                 </div>

                       </div>
                    {% endif %}
                </h2>

</div>
            </div>
            </div>
    {% endif %}
            {% empty %}

            <div class="pure-g-r content-ribbon">
                <div class="pure-u-1">
                    <div class="l-box">
                        <p>Nenhum animal está disponível na plataforma</p>
                    </div>
                </div>
            </div>

            {% endfor %}

</div>


            {% endblock %}
</div>

